<!doctype HTML>
<HTML Lang = "en">
<head>

<style type="text/css">
<!-- 
A{text-decoration:none} 
-->
</style>

	<meta charset="UTF=8">
	<title>Alan Anderson</title>
</head>
<body background="http://fc07.deviantart.net/fs70/i/2013/160/8/8/brooklyn_nets_nba_wallpaper_fullhd_by_bv92-d68do81.png">

<a href="/aa"><font color="white">BACK</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/"><font color="white">HOME</a><br><br>

<img src="http://stats.nba.com/media/players/230x185/101187.png" width="350" height="275">

<form method="POST" action="/aa_post"> 

<font color="white">
USERNAME
<input type="text" name="username"><br><br>
DATE
<input type="text" name="date"><br><br>
TITLE
<input type="text" name="title"><br><br>
<textarea type="text" name= "body" data-provide="markdown" rows="20" cols="150"> 
</textarea><br>

<button>SUBMIT</button><br><br><br>

</body>
</HTML>