<!doctype HTML>
<HTML Lang = "en">
<head>
	
<style type="text/css">
<!-- 
A{text-decoration:none} 
-->
</style>

	<meta charset="UTF=8">
	<title>Bojan Bogdanovic</title>
</head>
<body background="http://fc07.deviantart.net/fs70/i/2013/160/8/8/brooklyn_nets_nba_wallpaper_fullhd_by_bv92-d68do81.png">
<h1><font color="white">Bojan Bogdanovic - SG - 6'8" - 216 lbs - #44</font></h1>

<a href="/"><font color="white">HOME</font></a>&nbsp;&nbsp;
<a href="/bojan_post"><font color="white">POST</font></a>&nbsp;&nbsp;
<a href="/bojan_active"><font color="white">ACTIVE POST(S)</font></a>&nbsp;&nbsp;
<a href="/bojan_archive"><font color="white">ARCHIVE</font></a><br>

<img src="http://stats.nba.com/media/players/230x185/202711.png" alt="HTML5 Icon" width="375" height="300"><br><br>

<font color="white">Background<br><br>

CAREER TRANSACTIONS:<br>
June 23, 2011: Drafted in the second round of the 2011 NBA Draft (31st overall) by the Miami Heat… Traded twice on draft night, first to the Minnesota Timberwolves in exchange for Norris Cole and then to the Nets in exchange for Brooklyn’s 2013 second round pick and cash considerations… July 7, 2014: Signed a multi-year contract with the Brooklyn Nets.<br><br> 

PRO CAREER:<br>
In 160 career games for Fenerbahçe Ülker of the Turkish Basketball League, averaged 13.7 points, 2.3 rebounds and 1.8 assists in 26.0 minutes per game over 118 starts.<br><br> 
Key Statistics:<br>
2013-14 (Fenerbahçe Ülker): Led Fenerbahçe to Turkish Basketball League and Turkish Supercup championships… Started 51 of 61 games, averaging a team-high 13.4 points, 2.2 rebounds and 2.2 assists in 27.1 minutes per game... Posted an average of 14.8 points per game in 24 Euroleague contests...<br><br> 

2012-13 (Fenerbahçe Ülker): Led Fenerbahçe to the Turkish Cup championship and was named a TBL All-Star… Started 42 of 51 games… Averaged 14.3 points, 2.4 rebounds and 1.7 assists in 26.9 minutes per game… Appeared in 21 Euroleague games, averaging 15.9 points, 2.1 rebounds and 1.2 assists per game...<br><br> 

2011-12 (Fenerbahçe Ülker): Started 25 of 48 games, averaging 13.4 points, 2.3 rebounds and 1.4 assists in 23.5 minutes per game… Averaged 13.0 points and 2.2 rebounds in 16 Euroleague games… Played 32 Turkish League games, averaging 13.6 points, 2.4 rebounds and 1.8 assists per game.</font><br><br> 

<center><iframe width="560" height="315" src="//www.youtube.com/embed/FMdo33Q1e6o" frameborder="0" allowfullscreen></iframe></center>

<!-- <form method="GET" action="/deron"> -->


<!-- NAME
<input type="text" name="name"><br><br>
AGE
<input type="text" name="age"><br><br>
E-MAIL
<input type="text" name="email"><br><br> -->

</body>
</HTML>