<!doctype HTML>
<HTML Lang = "en">
<head>

<style type="text/css">
<!-- 
A{text-decoration:none} 
-->
</style>

	<meta charset="UTF=8">
	<title>Cory Jefferson</title>
</head>
<body background="http://fc07.deviantart.net/fs70/i/2013/160/8/8/brooklyn_nets_nba_wallpaper_fullhd_by_bv92-d68do81.png">
<h1><font color="white">Cory Jefferson - PF - 6'9" - 218lbs - #21</font></h1>

<a href="/"><font color="white">HOME</font></a>&nbsp;&nbsp;
<a href="/cory_post"><font color="white">POST</font></a>&nbsp;&nbsp;
<a href="/cory_active"><font color="white">ACTIVE POST(S)</font></a>&nbsp;&nbsp;
<a href="/cory_archive"><font color="white">ARCHIVE</font></a><br>

<img src="http://stats.nba.com/media/players/230x185/203928.png" alt="HTML5 Icon" width="375" height="300"><br><br>

<font color="white">Background<br><br>

CAREER TRANSACTIONS:<br>
Selected with the final pick (60th overall) in the 2014 NBA Draft by the San Antonio Spurs... Traded on draft night from the Spurs to the Brooklyn Nets... Signed with the Nets on July 23, 2014.<br><br> 

2013-14 SEASON:<br>
Jefferson, who was a second-team All-Big pick by the league’s coaches, led the field-goal percentage and blocked shots and was second in scoring and rebounding as the Bears advanced to the NCAA tournament’s Sweet 16. 
Key statistics: 13.4 ppg, 8.0 rpg, 4.7 apg, 1.9 bpg, 0.8 tpg, 27.9 mpg, .610 FG, .302 3PT, .700 FT</font><br><br> 

<center><iframe width="560" height="315" src="//www.youtube.com/embed/ETdELH4Q_aQ" frameborder="0" allowfullscreen></iframe></center>

<!-- <form method="GET" action="/deron"> -->


<!-- NAME
<input type="text" name="name"><br><br>
AGE
<input type="text" name="age"><br><br>
E-MAIL
<input type="text" name="email"><br><br> -->

</body>
</HTML>