<!doctype HTML>
<HTML Lang = "en">
<head>

<style type="text/css">
<!-- 
A{text-decoration:none} 
-->
</style>

	<meta charset="UTF=8">
	<title>NETSBALL</title>
</head>
<body background="http://i.cdn.turner.com/nba/nba/.element/media/2.0/teamsites/nets/images/2012_BrooklynNets_Wallpapers_ipad_1024x1024.jpg
">
<div class="photo" style="float:left; margin:30px"><font color="white" size="4px">
    Brooklyn Nets player opinion page.  Click on a player to post your thoughts, see player<br> bio, video, and more.  
</div>

<form method="GET" action="/deron">

<div align="right">
 <br><br>
<a href="/dwill"><font color="white"><img src="http://stats.nba.com/media/players/230x185/101114.png" width="125" height="100"></font></a>

<a href="/kg"><font color="white"><img src="http://stats.nba.com/media/players/230x185/708.png" width="125" height="100"></font></a>

<a href="/jj"><font color="white"><img src="http://stats.nba.com/media/players/230x185/2207.png" width="125" height="100"></font></a>

<a href="/brook"><font color="white"> <img src="http://stats.nba.com/media/players/230x185/201572.png" width="125" height="100"></font></a><br><br><br>

<a href="/jack"> <font color="white"><img src="http://stats.nba.com/media/players/230x185/101127.png" width="125" height="100"></font></a>

<a href="/mirza"><font color="white"><img src="http://stats.nba.com/media/players/230x185/203141.png" width="125" height="100"></font></a>

<a href="/bojan"><font color="white"><img src="http://stats.nba.com/media/players/230x185/202711.png" width="125" height="100"></font></a>

<a href="/mason"> <font color="white"><img src="http://stats.nba.com/media/players/230x185/203486.png" width="125" height="100"></font></a><br><br><br>

<a href="/aa"><font color="white"><img src="http://stats.nba.com/media/players/230x185/101187.png" width="125" height="100"></font></a>

<a href="/sergey"><font color="white"><img src="http://stats.nba.com/media/players/230x185/203508.png" width="125" height="100"></font></a>

<a href="/jordan"> <font color="white"><img src="http://stats.nba.com/media/players/230x185/202366.png" width="125" height="100"></font></a>

<a href="/cory"> <font color="white"><img src="http://stats.nba.com/media/players/230x185/203928.png" width="125" height="100"></font></a>
</div>
<br><br><br><br><br><br>
<a href="/signup" style="float:left; margin:30px"><font color="black"> CREATE ACCOUNT</font></a>


</form>
</body>
</HTML>