<!doctype HTML>
<HTML Lang = "en">
<head>

<style type="text/css">
<!-- 
A{text-decoration:none} 
-->
</style>

	<meta charset="UTF=8">
	<title>Sergey Karasev</title>
</head>
<body background="http://fc07.deviantart.net/fs70/i/2013/160/8/8/brooklyn_nets_nba_wallpaper_fullhd_by_bv92-d68do81.png">
<h1><font color="white">Sergey Karasev-  SG - 6'7" - 208 lbs - #10</font></h1>

<a href="/"><font color="white">HOME</font></a>&nbsp;&nbsp;
<a href="/sergey_post"><font color="white">POST</font></a>&nbsp;&nbsp;
<a href="/sergey_active"><font color="white">ACTIVE POST(S)</font></a>&nbsp;&nbsp;
<a href="/sergey_archive"><font color="white">ARCHIVE</font></a><br>

<img src="http://stats.nba.com/media/players/230x185/203508.png" alt="HTML5 Icon" width="375" height="300"><br><br>

<font color="white">Background<br><br>

2013-14 SEASON:<br>
Appeared in 22 games (one start) for the Cleveland Cavaliers in his first NBA season, averaged 1.7 points, 0.7 rebounds, 0.3 assists and 0.1 steals in 7.1 minutes... In Game 1 of the NBADL Playoffs series against Sioux Falls, tallied four points, seven rebounds and five assists in 24 minutes for Canton on Apr. 10... Posted four points and one assists in three minutes at Orlando on Apr. 2... Appeared in 18 regular season games with the Canton Charge of the NBADL in 2013-14 with averages of 13.5 points, 5.0 rebounds, 2.4 assists and 1.0 steal in 30.0 minutes per game... Had 21 points and nine rebounds in 34 minutes versus the L.A. D-Fenders (NBADL) on Mar. 14... Tallied career highs of eight points and five rebounds in 21 minutes at San Antonio on Nov. 23<br><br> 

PROFESSIONAL CAREER:<br>
2012-13: In 14 games, averaged 18.4 points and 5.3 rebounds in 33.3 minutes per game for BC Triumph in Russia’s top league, the PBL…also posted 16.1 points in the ULEB’s Eurocup competition, a step below the Euroleague, and 15.4 points in the United VTB League…won gold medal during the 2013 World University Games in Kazan where he averaged 19.0 points on .567 shooting, including .455 (20-44) from the three-point line, 5.8 rebounds, 3.5 assists and 1.4 steals in 24.9 minutes per game for Russia…scored 31 points on 13-17 (.765) shooting from the field in 19 minutes against Oman on July 7…recorded a double-double of 20 points and 10 rebounds to go along with seven assists and four steals in 33 minutes against Canada on July 15.<br><br> 

Has played his entire club career with BC Triumph in Russia…competed for Russia in international play, including the 2013 World University Games in Kazan (gold medal), the 2012 Summer Olympics in London (bronze medal), 2012 Olympic Qualifiers (3.3 points, 1.7 rebounds), 2011 FIBA U-19 Worlds (15.3 points), 2010 U-18 Euros (12.4 points) and 2009 U-16 Euros (16.1 points)…in 23 games for the Triumph in Russia’s PBL during the 2011-12 season, averaged 13.7 points and 3.6 rebounds in 29.0 minutes per game…also averaged 12.5 points in the EuroChallenge and 14.3 points in the Baltic League…during the 2010-11 season, split time between Triumph’s senior team (7.8 points in PBL) and its U-23 team (15.3 points in PBL U-23)…at just 17 years old, named Week 25 MVP of Russia’s top league after scoring 34 points, including a .857 (6-7) clip from beyond the arc. vs. Dynamo.<br><br> 

CAREER TRANSACTIONS:<br>
Selected by the Cavaliers in the first round (19th overall pick) of the 2013 NBA Draft... Signed with the Cavaliers on August 20, 2013... Traded to the Brooklyn Nets in a three-team trade involving the Cleveland Cavaliers and the Boston Celtics on July 10, 2014.<br><br> 

PERSONAL:<br>
Won gold medal during the 2013 World University Games in Kazan…also won bronze medal in the 2012 Summer Olympics in London for the Russian National Team…is the son of former Russian international player and current Triumph Lyubertsy head coach, Vasily Karasev…also used to play under his father during his time with Triumph Lyubertsy.</font><br><br> 

<center><iframe width="560" height="315" src="//www.youtube.com/embed/B-kp7J9_6_Q" frameborder="0" allowfullscreen></iframe></center>

<!-- <form method="GET" action="/deron"> -->


<!-- NAME
<input type="text" name="name"><br><br>
AGE
<input type="text" name="age"><br><br>
E-MAIL
<input type="text" name="email"><br><br> -->

</body>
</HTML>